@import '../stylesheets/colours';
@import '../stylesheets/variables';

$poster-height: 145px;
$poster-width: 100px;

.movielist-item-row {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  float: left;
  height: calc($poster-height + 2 * #{$spacing-unit-small});
  padding: $spacing-unit-small;
  width: 100%;

  @media screen and (min-width: $on-tablet) {
    box-sizing: border-box;
    width: 50%;
  }

  @media screen and (min-width: $on-desktop) {
    padding: $spacing-unit-small $spacing-unit;
  }
}

.movielist-item-poster {
  align-items: center;
  display: flex;
  height: $poster-height;
  width: $poster-width;

  @media screen and (min-width: $on-phone-big) {
    height: calc(1.5 * #{$poster-height});
    width: calc(1.5 * #{$poster-width});
  }

  img {
    box-shadow: 1px 1px 5px darken($background-colour, 20%);
    margin: auto;
    max-height: 100%;
    max-width: 100%;
  }
}

.movielist-item-header {
  margin: 0 $spacing-unit-small;
  width: calc(100% - (#{$poster-width} + #{$button-width}));
}

.movielist-item-title {
  font-size: $font-size-normal;
  font-weight: bold;
  margin-bottom: 5px;

  @media screen and (min-width: $on-phone-big) {
    font-size: $font-size-medium;
  }
}

.movielist-item-released {
  font-size: $font-size-smaller;
}

.movielist-item-watched-icon {
  cursor: pointer;
  margin-left: auto;
  width: $button-width;
}
