@import './colours';
@import './variables';

body {
  background: $background-colour;
  font-size: $font-size-normal;
  font-family: $font-family-standard;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}
