// Page variables
$page-width-max: 1100px;
$on-phone-big: 400px;
$on-tablet: 700px;
$on-desktop: 1000px;

// Fonts (imports)
@import url(https://fonts.googleapis.com/css?family=Roboto);

// Fonts
$font-size-large: 28px;
$font-size-medium: 23px;
$font-size-normal: 18px;
$font-size-smaller: 15px;
$font-size-small: 12px;
$font-family-standard: 'Roboto', Helvetica, Arial, serif;

// Spacing
$spacing-unit: 20px;
$spacing-unit-small: 0.35 * $spacing-unit;

// Font-awesome buttons
$button-width: 30px;
