// Page variables
$on-tablet: 600px;
$on-desktop: 1000px;

// Fonts (imports)
@import url(https://fonts.googleapis.com/css?family=Roboto);

// Fonts
$font-size-large: 28px;
$font-size-normal: 18px;
$font-size-small: 12px;
$font-family-standard: 'Roboto', Helvetica, Arial, serif;

// Spacing
$spacing-unit: 20px;
